*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin: 0 auto;
    height: 100vh;
}


header{
    height: 10vh;
    background-color: black;
}


main{
    height: 80vh;
    background-color: black;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.card{
    width: calc(100% / 7);
    margin-right: 5px;
}

img{
    width: 100%;
}

.ice{
    position: relative;
}


#text{
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: white;
    background-color: gray;
}

footer{
    height: 10vh;
    background-color: green;
    display: flex;
    justify-content: space-between;
}

.part3{
    background-color: grey;
    color: red;
    font-size: 15px;
    text-align: center;
}